@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
}

body, button, input, select, textarea{
    font-family: 'Poppins', sans-serif;
    color: #2F3034;
}

h1{
    font-size: 30px;
    text-align: center;
}

.time{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin: 50px auto 0;
    border: 8px solid #5280E2;
    border-radius: 100%;
}

.buttons-time{
    padding: 0;
    width: 350px;
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}

.option{
    display: flex;
    justify-content: center;
}

.buttons-time button{
    width: 70px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: transparent;
    margin: auto;
}

.buttons-time svg{
    width: 55px;
    height: 45px;
}

.option button{
    width: 100px;
    height: 30px;
    background: #5280E2;
    font-size: 12px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

#btn_pomodoro{
    margin-right: 20px;
}

.mode{
    display: flex;
    justify-content: center;
    margin: 100px auto;

}

.mode button{
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 70px;
}

.mode button p{
    margin: 0;
}

.btn-darkMode{
    margin-right: 20px;
    background: #2F3034;
    color: white;
}

.btn-darkMode svg, .dark-mode svg, .dark-mode button, .light-mode .btn-darkMode svg{
    color: white;
}

.btn-lightMode{
    background: white;
}

.dark-mode{
    background: #2F3034;
    color: white;
}

.dark-mode .btn-lightMode svg, .dark-mode .btn-lightMode p, .light-mode svg{
    color:#2F3034;
}

.light-mode{
    background: white;
    color: #2F3034;
}

@media (max-width: 400px){
    .time{
        width: 150px;
        height: 150px;
        font-size: 40px;
    }

    .option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .option button{
        width: 100px;
    }

    #btn_pomodoro{
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

button:disabled{
    color: var(--dark-grey);
    cursor: not-allowed;
}

